<mat-card>
    <mat-card-header>
        <button mat-icon-button color="primary" (click)="crearPersona()" class="btn-add">
            <mat-icon>person_add</mat-icon>
        </button>
        <mat-card-title>Listado de personas</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-card *ngFor="let pers of personList">
            <div class="personas-container">
                <mat-card-content>
                    <span class="etiquetas">Edad: </span> <span>{{pers.edad}}</span><br>
                    <span class="etiquetas">Nombre: </span> <span>{{pers.nombre}}</span><br>
                    <span class="etiquetas">Apellido: </span> <span>{{pers.apellido}}</span><br>
                    
                    <div *ngIf="pers.edad >= 18" class="persona-edad-container">
                        <span>Es mayor de edad</span>
                    </div>    
                        
                    <div *ngIf="pers.edad < 18" class="persona-edad-container">
                        <span>Es menor de edad</span>
                    </div> 
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="basic" (click)="seleccionarPersona(pers)">Editar</button>
                    <button mat-icon-button color="warn" (click)="borrarPersona(pers)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </div>
        </mat-card>
    </mat-card-content>
</mat-card>


