mat-card {
    display: flex;
    align-items: center;
}
mat-card-header {
    align-self: center;
    gap: 25px;
}

mat-card-title{
    margin-top: 22px;
}

button {
    margin-right: 5px;
    margin-top: 15px;
}

mat-icon {
    align-self: center
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.personas-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 10px;
}
.etiquetas {
    font-weight: bold;
}

.persona-edad-container {
    font-weight: bold;
}
